
<div class="offcanvas offcanvas-start bg-light" tabindex="-1" id="sideDrawer" aria-labelledby="sideDrawerLabel" style="width: 250px;">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sideDrawerLabel">Navigation</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a href="/artist/Treatments" class="text-decoration-none">Treatments</a>
            </li>
            <li class="list-group-item">
                <a href="/users/post/media" class="text-decoration-none">📷 Post Media</a>
            </li>
            <li class="list-group-item">
                <a href="/users/post/status" class="text-decoration-none">✍ Post Status</a>
            </li>
            <li class="list-group-item">
                <a href="/account/signin" class="text-decoration-none">Sign In</a>
            </li>
            <li class="list-group-item">
                <a href="/account/signup" class="text-decoration-none">Sign Up</a>
            </li>
            <li class="list-group-item">
                <a href="/account/users" class="text-decoration-none">Users</a>
            </li>
            <li class="list-group-item">
                <a href="/about" class="text-decoration-none">About</a>
            </li>
        </ul>
    </div>
</div>